extends default.pug

block content

  .description-box
    .info-card
      img(src="divyanshu.png", alt="Here goes my image.")
      a.resume.white(href="../files/DivyanshuTiwari.pdf") Resume
    .description
      h1 Hello 👋!
      h3 I'm Divyanshu, and I love exploring new and creative ways of interacting with technology.
      hr
      p I am currently working at 
        a(href="https://chroniclehq.com/") Chronicle
        |, where we are reimagining the future of creating and delivering delighful presentations experience. Broadly, I am interested in human-computer interfaces and my long-term goal is to question and contribute to its future.
      p This website is my personal space to share with the world about all the things that make me curious and keep me going.

      a.resume.blue(href="../files/DivyanshuTiwari.pdf") Resume

  .featured-projects
    h1 Featured Projects
    hr.line
    - var i = 0
    ul.project-list
      while i < 3
        +card(projects[i])
        - i += 1
