extends page.pug

block content
  .page
    h1=title
    hr.line

    h2 Contributions
    
    h3 Image Picker
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-image-insertion.gif", alt="Image block insertion mechanism in Chronicle using forward slash menu")
        span Image block insertion mechanism in Chronicle using "Forward slash menu"

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-image-editing.gif", alt="Image block editing mechanism in Chronicle using Contextual menu")
        span Image block editing mechanism in Chronicle using "Contextual menu"

    h3 Icon block
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-icon-insertion.gif", alt="Icon block insertion mechanism in Chronicle using forward slash menu")
        span Icon block insertion mechanism in Chronicle using "Forward slash menu"
    
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-icon-menu-editing.gif", alt="Icon block editing mechanism in Chronicle using Contextual menu")
        span Icon block editing mechanism in Chronicle using "Contextual menu"
    
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-icon-toolbar-editing.gif", alt="Icon block editing mechanism in Chronicle using Block toolbar")
        span Icon block editing mechanism in Chronicle using "Block toolbar"

    h3 Video block
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-video-insertion.gif", alt="Video block insertion mechanism in Chronicle using forward slash menu")
        span Video block insertion mechanism in Chronicle using "Forward slash menu"

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-video-editing.gif", alt="Video block editing mechanism in Chronicle")
        span Video block editing mechanism in Chronicle
