extends page.pug

block content
  .page
    h1=title
    hr.line

    p  
      a(href="https://chroniclehq.com/") Chronicle
      |  is a startup dedicated to redefining the creation and delivery of engaging presentation experiences. I began my journey here first as an intern before transitioning to a full-time software engineer role. Apart from helping out the senior team members in addressing and rectifying critical product bugs, I contributed to several facets of the software which I have 
      span.bold chronicled 
      | below.  

    p Chronicle follows a 
      span.bold block 
      | based approach for creating slides in your a presentation. There are a variety of pre-made beautiful blocks available for you to help you out. Before we go ahead and try delving deeper into the work described above, here are a few terms that would aid in understanding: 
    ul
      li 
        p
          span.bold Forward slash menu: 
          | The way you add blocks into your slides is by either pressing the 
          span.bold forward slash 
          | button or clicking on the 
          span.bold 'plus' 
          | button on the right hand side. This opens up a side-drawer from where you can search and select the desired block. This menu is completely navigable through keyboard too.
      li 
        p
          span.bold Block toolbar: 
          | Once the block is added to your slide, you can edit the properties of the block by selecting it. A toolbar pops up above the block once it is selected, and from there you can edit its properties. 
      li 
        p
          span.bold Contextual menu: 
          | Inside this block toolbar, you would find a three dot icon which you can click. This opens up a menu that holds the same block edit commands as in the toolbar. This menu can also be opened using 
          span.bold 'Cmd + /'
          | shortcut. You can search and select the properties you want to edit. The menu is completely navigable through the keyboard too. 

    h3 Image Picker
    p When you go ahead to add an 
      span.bold Image block 
      | into your presentation, the first thing that opens up is the 
      span.bold Image Picker
      |. It lets you choose from stock images fetched from 
      a(href="https://unsplash.com/images") Unsplash
      |  and 
      a(href="https://unsplash.com/images") Giphy
      |. A set of 30 images are loaded in the first fetch and more are fetched as you scroll down. You also have a 
      span.bold search bar 
      | to let you search for the kind of images you are looking for. There's also an 
      span.bold upload button 
      | to let you upload an image from your desktop if you want.

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-image-insertion.gif", alt="Image block insertion mechanism in Chronicle using forward slash menu")
        span Image block insertion mechanism in Chronicle using "Forward slash menu"

    p Once you have an Image block in place, you can go ahead and change it's properties from the 
      span.bold Contextual menu
      |. From there you can choose to 
      span.bold Replace
      | , 
      span.bold Crop
      | , or edit the 
      span.bold Shape 
      | of the image. In there, you also have block actions common to all blocks like - 
      span.bold Bring to Front
      | , 
      span.bold Bring to Back
      | , 
      span.bold Duplicate
      |, and 
      span.bold Delete

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-image-editing.gif", alt="Image block editing mechanism in Chronicle using Contextual menu")
        span Image block editing mechanism in Chronicle using "Contextual menu"

    h3 Icon block
    p You add the 
     span.bold Icon block 
     | from the forward slash menu. 

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-icon-insertion.gif", alt="Icon block insertion mechanism in Chronicle using forward slash menu")
        span Icon block insertion mechanism in Chronicle using "Forward slash menu"
    
    p Using either the 
      span.bold Contextual menu 
      | or 
      span.bold Block toolbar
      |, you can choose to 
      span.bold Replace
      |, or edit the 
      span.bold Shape
      | , and 
      span.bold Size (S/M/L) 
      | of the icon.

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-icon-toolbar-editing.gif", alt="Icon block editing mechanism in Chronicle using Block toolbar")
        span Icon block editing mechanism in Chronicle using "Block toolbar"
    
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-icon-menu-editing.gif", alt="Icon block editing mechanism in Chronicle using Contextual menu")
        span Icon block editing mechanism in Chronicle using "Contextual menu"

    h3 Video block    
    p You add the block from the 
      span.bold Forward slash menu
      |, and using the 
      span.bold Block toolbar
      |, you can choose to edit  
      span.bold URL
      |, 
      span.bold Start time
      |, or 
      span.bold Navigate 
      | back to the original video. The 
      span.bold Contextual menu 
      | for this block only contains common block actions and no block specific actions.

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-video-insertion.gif", alt="Video block insertion mechanism in Chronicle using forward slash menu")
        span Video block insertion mechanism in Chronicle using "Forward slash menu"

    ul.single
      li.image(style="width: 75%")
        img(src="../projects-chronicle-video-editing.gif", alt="Video block editing mechanism in Chronicle")
        span Video block editing mechanism in Chronicle using 'Block toolbar'
